#left-side {
  background-image: url(media/jackson-graham-8O3jBhAdRv4-unsplash.jpg);
  margin: auto;
  height: 100vh;
  background-size: 35vw 100vh;
  background-repeat: no-repeat;
  width: 35vw;
  margin-left: 0;
}

@font-face { font-family: NorseBold; src: url('Norse-Bold.otf'); } 
#title {
  background-color: rgba(0, 0, 0, .3);
  color: aliceblue;
  margin-top: 30px;
  font-family: NorseBold;
}

#right-side {
  background-color: bisque;
  margin: 0;
  padding: 0;
  width: 65vw;

}

form {
  background-color: rgb(199, 199, 199);
  border: 2px rgb(163, 177, 177) solid;
  box-shadow: 4px;
  padding: 20px;
  border-radius: 10px;
}

h3 {
  margin: 100px;
}

#credit {
  margin-top: auto;
}

input:invalid {
  border-color: red;
}